# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist.zip
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env files
.env.*

# config files
src/assets/sample-data/ref.json
src/stylesheets/fonts/font/NotoSansKR/Noto Sans CJK KR.woff2
src/stylesheets/fonts/font/NotoSansKR/NotoSansKR-Black.otf
src/stylesheets/fonts/font/NotoSansKR/Noto Sans CJK KR.otf
src/stylesheets/fonts/font/NotoSansKR/Noto Sans CJK KR.woff
*.woff
*.otf
*.ttf
package-lock.json
package-lock.json
*.eot
*.woff2
